@import url(fonts.css);
@-webkit-keyframes activated {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes activated {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animated_substrate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes animated_substrate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

@-webkit-keyframes game_box_active {
  0% {
    height: 390px;
    opacity: 0;
  }
  100% {
    height: 715px;
    opacity: 1;
  }
}

@keyframes game_box_active {
  0% {
    height: 390px;
    opacity: 0;
  }
  100% {
    height: 715px;
    opacity: 1;
  }
}

@-webkit-keyframes game_box_active_small {
  0% {
    height: 340px;
    opacity: 0;
  }
  100% {
    height: 465px;
    opacity: 1;
  }
}

@keyframes game_box_active_small {
  0% {
    height: 340px;
    opacity: 0;
  }
  100% {
    height: 465px;
    opacity: 1;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: "GothaReg";
}

body {
  background: #161718;
  color: #ffffff;
  max-width: 100%;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.move_up {
  position: fixed;
  right: 1%;
  bottom: 1%;
  height: 58px;
  width: 58px;
  z-index: 2;
  text-decoration: none;
}

.arrow_up {
  height: 60px;
  width: 60px;
}

.header {
  width: 70%;
  margin-left: 4%;
}

.h_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ss {
  display: block;
  margin: 2px;
  background: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.ss:hover {
  background: #da182e;
  cursor: pointer;
}

.logo {
  margin: -198px 0 0 -196px;
}

.lng_opt,
.lng_opt-inf_dwn,
.lng_opt-call,
.lng_opt-opn,
.lng_opt-img_text,
.lng_opt-price,
.lng_opt-rules,
.lng_opt-comments,
.lng_opt-promo_start,
#promo,
.slide_comments,
.lng_opt-slide,
.lng_opt-two_slide,
.popup_modal,
.popup_modal-time,
.lng_opt-popup_form,
.lng_opt-about_us,
.menu_invisible,
.lng_opt-hidemen {
  display: none;
}

.box_menu {
  width: 100%;
  text-align: center;
}

.lng_opt-inf_dwn {
  width: 78%;
}

.active {
  display: block;
  -webkit-animation-name: activated;
          animation-name: activated;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.info-up, .lang-block, .info-down, .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.info-up {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  margin: 36px 0 25px 0;
}

.line {
  border: 1px solid #212121;
  height: 2px;
  margin: auto 9%;
  max-width: 86%;
}

#select {
  border: none;
  font-size: 16px;
  font-weight: 600;
  margin: auto 0;
  margin-left: 25px;
  height: 20px;
  text-align: left;
  color: #da182e;
  border-bottom: 1px dotted #da182e;
  background: #161718;
}

#select:hover {
  cursor: pointer;
  border-bottom: 1px dotted #161718;
}

option {
  border: none;
}

.soc_img {
  padding: 7px 0 0 7px;
}

.info-down {
  margin: 25px 0 36px 0;
  font-size: 18px;
  font-weight: 700;
}

.info-down-inf .lng_opt-call {
  text-align: center;
  margin-left: -38%;
}

.lng_opt-call {
  text-align: center;
  margin-left: -38%;
}

.active-hidemen {
  display: block;
}

.info-down-inf {
  -webkit-box-shadow: 1px 1px 3px 2px #161718;
          box-shadow: 1px 1px 3px 2px #161718;
  border-radius: 9px;
  display: block;
  text-decoration: none;
  color: white;
  padding-top: 11px;
  height: 44px;
  font-weight: 800;
}

.info-down-inf-first_pos {
  -webkit-box-shadow: 1px 1px 3px 2px #161718;
          box-shadow: 1px 1px 3px 2px #161718;
  height: 44px;
  border-radius: 9px;
  display: block;
  text-decoration: none;
  color: white;
  padding-top: 2px;
  text-align: center;
  font-weight: 800;
}

.info-down-inf:hover {
  height: 44px;
  -webkit-box-shadow: 1px 1px 3px 2px #ffffff;
          box-shadow: 1px 1px 3px 2px #ffffff;
  color: #da182e;
  cursor: pointer;
  -webkit-animation-name: activated;
          animation-name: activated;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
}

.info-down-inf-first_pos:hover {
  height: 44px;
  -webkit-box-shadow: 1px 1px 3px 2px #ffffff;
          box-shadow: 1px 1px 3px 2px #ffffff;
  color: #da182e;
  cursor: pointer;
  -webkit-animation-name: activated;
          animation-name: activated;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
}

.call_link {
  text-decoration: none;
  color: white;
  padding-top: 11px;
}

.call {
  color: #da182e;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px dotted #da182e;
  padding-bottom: 1px;
}

.call:hover {
  border-bottom: 1px dotted #161718;
  cursor: pointer;
}

.h_img_box {
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.dmg_iphone {
  display: block;
  width: 807px;
  position: absolute;
  top: -54px;
  left: 3%;
  z-index: -1;
}

.lng_opt-img_text {
  width: 100%;
  z-index: 3;
}

.repair {
  margin-left: 52%;
  margin-top: -50px;
  font-family: "GothaBol";
  font-size: 56px;
  text-transform: uppercase;
  line-height: 80px;
}

.button {
  background: #da182e;
  border-radius: 66px;
  -webkit-box-shadow: 1px 0px 1px 4px #5d171e;
          box-shadow: 1px 0px 1px 4px #5d171e;
  height: 45px;
  width: 176px;
  padding-top: 14px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin-left: 48%;
}

.button_pos {
  margin-left: 52%;
}

.button:hover {
  cursor: pointer;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 1px 2px 3px 6px #f0162b;
          box-shadow: 1px 2px 3px 6px #f0162b;
}

.price_box {
  position: relative;
  margin: 0 auto;
  margin-top: 340px;
  z-index: 1;
}

.lng_opt-price {
  background-color: #ffffff;
  border-radius: 50px;
  height: auto;
  color: black;
  padding: 5%;
  width: 86%;
  margin: 0 auto;
  position: relative;
  z-index: -1;
}

.cena {
  margin: 0;
  font-family: "GothaBol";
  font-size: 52px;
  font-weight: 400;
  letter-spacing: -2.39px;
}

.model {
  margin: 3.5% 0 9% 5%;
  font-size: 23px;
  font-weight: 600;
  letter-spacing: -0.74px;
}

.price-list {
  margin: 0;
  padding: 15px 0 0 15px;
  width: 56%;
  height: 59px;
  border-radius: 1px;
  font-size: 21px;
}

p.price-list:nth-child(2n) {
  background-color: #f5f5f5;
}

.price_info {
  color: black;
  position: absolute;
  top: 162px;
  left: 30%;
  width: 64%;
  z-index: 2;
}

.price_info div {
  text-align: center;
}

.left-pos {
  margin-left: 4%;
}

.model_select-dsn {
  color: #f0162b;
  padding-top: 12px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #f0162b;
  margin-bottom: 5px;
  width: 89%;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}

.model_select-dsn:hover {
  -webkit-box-shadow: 0 0 3px 6px #ff0000;
          box-shadow: 0 0 3px 6px #ff0000;
  cursor: pointer;
}

.active_model {
  color: #ffffff;
  background-color: #ff0000;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(13%, #cc0000), color-stop(87%, #ff0000));
  background-image: linear-gradient(#cc0000 13%, #ff0000 87%);
}

.price_img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.img_phone {
  position: absolute;
  left: 42%;
  top: 79px;
  width: 670px;
}

.text_price {
  position: absolute;
  top: 57px;
  left: 30%;
}

.text_price-server {
  margin: 0;
  text-align: center;
  height: 60px;
  font-size: 21px;
}

#promo_start {
  background-color: #ffffff;
  border-radius: 50px;
  height: auto;
  color: black;
  padding: 5%;
  width: 86%;
  margin: 0 auto;
  background-color: #161718;
  text-align: center;
  color: white;
  padding-top: 20px;
  margin-top: 110px;
  margin-bottom: 90px;
}

.active_game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-name: game_box_active;
          animation-name: game_box_active;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
}

.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 86%;
  margin: 0 auto;
  margin-top: 120px;
  z-index: 1;
}

.game_img {
  position: relative;
}

.cover_tree {
  background-color: #161718;
  position: absolute;
  width: 510px;
  height: 675px;
  opacity: 0.8;
  z-index: 3;
  left: 0;
}

.random_one,
.random_two,
.random_three {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  padding-top: 19px;
  font-size: 45px;
  font-weight: 400;
  line-height: 24px;
  position: absolute;
}

.random_one {
  top: 130px;
  left: 220px;
}

.random_two {
  top: 282px;
  left: 92px;
}

.random_three {
  top: 301px;
  left: 346px;
}

.random_one:hover,
.random_two:hover,
.random_three:hover {
  cursor: pointer;
  color: yellow;
}

.rules {
  font-family: "GothaBol";
  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
}

.rules_text {
  width: 523px;
  height: 183px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.game_button,
.button_start,
.cancel_button,
.modal_submit {
  background: #da182e;
  border-radius: 66px;
  -webkit-box-shadow: 1px 0px 1px 4px #5d171e;
          box-shadow: 1px 0px 1px 4px #5d171e;
  height: 45px;
  width: 176px;
  padding-top: 14px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.button_start {
  margin-left: 42%;
}

.game_button:hover,
.button_start:hover,
.cancel_button:hover {
  cursor: pointer;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 1px 2px 3px 6px #f0162b;
          box-shadow: 1px 2px 3px 6px #f0162b;
}

#feedback {
  position: relative;
  background-color: #ffffff;
  border-radius: 50px;
  height: auto;
  color: black;
  padding: 5%;
  width: 86%;
  margin: 0 auto;
  width: 70%;
  z-index: 1;
}

.iphone_gif {
  width: 167px;
  height: 310px;
}

.iphone_gif-right {
  width: 230px;
  height: 310px;
}

.slide_box {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
}

.social_box {
  padding-top: 80px;
  margin-left: 10%;
}

a {
  text-decoration: none;
}

.soc {
  height: 50px;
  width: 50px;
  margin: 2%;
}

.left_arrow {
  position: absolute;
  top: 47%;
  left: 7%;
  opacity: 0.3;
  z-index: 2;
}

.right_arrow {
  position: absolute;
  top: 47%;
  right: 7%;
  opacity: 0.3;
  z-index: 2;
}

.left_arrow:hover,
.right_arrow:hover {
  opacity: 1;
  -webkit-animation-name: activated;
          animation-name: activated;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  cursor: pointer;
}

.image_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.img_box {
  margin-left: 7%;
  width: auto;
}

.title_feedback {
  color: #161718;
  font-family: "GothaBol";
  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
  margin: -1.6% 0 4% 7%;
}

.text_feedback {
  width: 40%;
  margin-right: 7%;
}

.dots_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 4%;
  position: absolute;
  left: 50%;
  bottom: 10%;
}

.dots {
  background-color: #fab8be;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.dots:hover {
  background-color: #f0162b;
  cursor: pointer;
}

.dots_active {
  background-color: #f0162b;
}

.about_us {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 40px;
}

.about {
  position: absolute;
  top: -247px;
  left: 0;
  z-index: -1;
}

.lng_opt-about_us {
  width: 30%;
  margin: 11% 13% 9% 0;
}

.title_about {
  font-family: "GothaBol";
  font-size: 52px;
  font-weight: 700;
}

.about_call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 61px;
  margin-left: -9%;
  width: 100%;
}

.about_number {
  width: 33%;
}

.button_feedback {
  background: #da182e;
  border-radius: 66px;
  -webkit-box-shadow: 1px 0px 1px 4px #5d171e;
          box-shadow: 1px 0px 1px 4px #5d171e;
  height: 45px;
  width: 176px;
  padding-top: 14px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.button_feedback:hover {
  cursor: pointer;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 1px 2px 3px 6px #f0162b;
          box-shadow: 1px 2px 3px 6px #f0162b;
}

.popup_modal,
.popup_modal-time {
  background-color: #161718;
  position: fixed;
  left: 36%;
  top: 24%;
  width: 400px;
  height: 400px;
  border: 1px solid #ffffff;
  border-radius: 12px;
  z-index: 9;
}

.form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  margin-top: 30px;
  width: 70%;
}

.name, .number {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(13%, #cc0000), color-stop(87%, #ff0000));
  background-image: linear-gradient(#cc0000 13%, #ff0000 87%);
  border: none;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 1px 2px #ffffff;
          box-shadow: 0 0 1px 2px #ffffff;
  color: white;
  font-size: 16px;
  padding-left: 10px;
  margin-top: 5px;
  height: 40px;
  width: 100%;
}

.modal_submit {
  border: none;
  color: white;
  width: 150px;
}

.name::-webkit-input-placeholder, .number::-webkit-input-placeholder {
  text-align: center;
  color: white;
}

.name:-ms-input-placeholder, .number:-ms-input-placeholder {
  text-align: center;
  color: white;
}

.name::-ms-input-placeholder, .number::-ms-input-placeholder {
  text-align: center;
  color: white;
}

.name::placeholder, .number::placeholder {
  text-align: center;
  color: white;
}

.close,
.close_time {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 35px;
  height: 35px;
}

.close:hover,
.close_time:hover {
  cursor: pointer;
}

.modal_backgrnd {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.form_text {
  text-align: center;
  font-family: "GothaBol";
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 50px;
}

.modal_submit {
  background: #da182e;
  border-radius: 66px;
  -webkit-box-shadow: 1px 0px 1px 4px #5d171e;
          box-shadow: 1px 0px 1px 4px #5d171e;
  height: 45px;
  width: 176px;
  padding-top: 14px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  padding-top: 4px;
  margin: 9% 0 0 20%;
}

.modal_submit:hover {
  cursor: pointer;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 1px 2px 3px 6px #f0162b;
          box-shadow: 1px 2px 3px 6px #f0162b;
}

.substrate_active {
  -webkit-animation-name: animated_substrate;
          animation-name: animated_substrate;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  background-color: #161718;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
}

.popup_modal-time {
  text-align: center;
  line-height: 20px;
}

.time_background {
  background-color: rgba(22, 23, 24, 0.8);
  border-radius: 12px;
  padding: 4px;
  margin-top: 30px;
}

@media (max-width: 1400px) {
  .header {
    margin-left: 1%;
  }
  .dmg_iphone {
    width: 789px;
    top: -60px;
    left: 2%;
  }
  .repair {
    margin-top: -30px;
  }
  .price_info {
    top: 142px;
    left: 30%;
  }
  .img_phone {
    width: 560px;
    left: 37%;
    top: 68px;
  }
  .model {
    margin: 4% 0 9% 0%;
    font-size: 18px;
  }
  .text_price {
    top: 30px;
    left: 24%;
  }
  .text_price-server {
    font-size: 16px;
    height: 47px;
  }
  .price-list {
    width: 50%;
    height: 47px;
    font-size: 16px;
  }
  .title_feedback {
    margin: -0.8% 0 4% 7%;
  }
  .text_feedback {
    overflow: auto;
    height: 190px;
  }
  .about_call {
    margin-left: -5%;
  }
  .lng_opt-about_us {
    margin: 17% 10% 9% 0;
  }
  .popup_modal,
  .popup_modal-time {
    left: 35%;
  }
}

@media (max-width: 1199px) {
  .popup_modal,
  .popup_modal-time {
    left: 33%;
  }
  .info-up {
    font-size: 13px;
    font-weight: 500;
  }
  #select {
    font-size: 13px;
  }
  .lng_opt-inf_dwn {
    width: 78%;
  }
  .box_menu {
    font-size: 14px;
  }
  .lng_opt-call {
    margin-left: -42%;
    font-size: 14px;
  }
  .call {
    font-size: 14px;
  }
  .info-down {
    font-size: 16px;
    font-weight: 300;
    margin-left: -2%;
  }
  .info-down-inf {
    padding-top: 10px;
    height: 40px;
    width: auto;
  }
  .info-down-inf-first_pos {
    height: 40px;
    width: auto;
    padding-top: 1px;
  }
  .info-down-inf:hover {
    height: 44px;
    -webkit-box-shadow: 1px 1px 3px 2px #ffffff;
            box-shadow: 1px 1px 3px 2px #ffffff;
    color: #da182e;
    cursor: pointer;
    height: 40px;
    width: auto;
    padding-top: 10px;
  }
  .info-down-inf-first_pos:hover {
    height: 44px;
    -webkit-box-shadow: 1px 1px 3px 2px #ffffff;
            box-shadow: 1px 1px 3px 2px #ffffff;
    color: #da182e;
    cursor: pointer;
    padding-top: 1px;
    width: auto;
    height: 40px;
  }
  .model {
    margin: 3.1% 0% 10.1% 0%;
  }
  .price_info {
    top: 118px;
  }
  .text_price {
    top: 24px;
    left: 22%;
  }
  .img_phone {
    left: 34%;
    width: 500px;
    top: 67px;
  }
  .lng_opt-rules {
    margin-left: 3%;
  }
  .buttons {
    margin-left: -9%;
  }
  .cover_tree {
    width: 501px;
    height: 675px;
  }
  .text_feedback {
    overflow: auto;
    height: 199px;
  }
  .dots_box {
    width: 6%;
  }
  .about {
    width: 584px;
    top: -210px;
  }
  .lng_opt-about_us {
    margin: 10% 10% 9% 0;
  }
  .about_call {
    margin-left: -1%;
  }
}

@media (max-width: 991px) {
  .info_up {
    position: relative;
  }
  .open {
    position: absolute;
    top: 134px;
    left: 51%;
  }
  .open_ru {
    margin-left: -6%;
  }
  .logo-img {
    width: 460px;
  }
  .logo {
    margin: -173px 0 0 -168px;
  }
  .ss {
    margin-top: 13px;
  }
  .info-down {
    font-size: 12px;
    font-weight: 400;
    position: relative;
  }
  .lng_opt-inf_dwn {
    width: 14%;
    position: absolute;
    left: 8%;
    top: 79px;
    z-index: 3;
  }
  .call {
    font-size: 10px;
  }
  .lng_opt-call {
    margin-left: -71%;
    z-index: 4;
  }
  .popup_modal,
  .popup_modal-time {
    left: 31%;
  }
  .lng_opt-hidemen {
    -webkit-box-shadow: 1px 1px 3px 2px #161718;
            box-shadow: 1px 1px 3px 2px #161718;
    border-radius: 9px;
    display: none;
    text-decoration: none;
    color: white;
    font-weight: 800;
    height: 30px;
    padding-top: 8px;
    width: 80px;
  }
  .lng_opt-hidemen:hover {
    height: 44px;
    -webkit-box-shadow: 1px 1px 3px 2px #ffffff;
            box-shadow: 1px 1px 3px 2px #ffffff;
    color: #da182e;
    cursor: pointer;
    -webkit-animation-name: activated;
            animation-name: activated;
    -webkit-animation-duration: 1.6s;
            animation-duration: 1.6s;
    height: 30px;
    padding-top: 8px;
    width: 80px;
  }
  .active {
    display: block;
    -webkit-animation-name: activated;
            animation-name: activated;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
  }
  .lng_opt-hidemen {
    padding-left: 22px;
    margin-left: 6%;
    margin-top: -5px;
  }
  .active_box_menu {
    display: block;
  }
  .hide_box_menu {
    opacity: 0;
  }
  .show_menu_box {
    opacity: 1;
  }
  .info-down-inf {
    height: 30px;
    padding-top: 8px;
    font-size: 13px;
    font-weight: bold;
    width: 80px;
    margin: 0;
    margin-bottom: 9%;
  }
  .info-down-inf-first_pos {
    height: 30px;
    padding-top: 1px;
    font-size: 13px;
    font-weight: bold;
    width: 80px;
    margin: 0;
    margin-bottom: 9%;
  }
  .info-down-inf:hover {
    height: 44px;
    -webkit-box-shadow: 1px 1px 3px 2px #ffffff;
            box-shadow: 1px 1px 3px 2px #ffffff;
    color: #da182e;
    cursor: pointer;
    height: 30px;
    padding-top: 8px;
    width: 80px;
  }
  .info-down-inf-first_pos:hover {
    height: 44px;
    -webkit-box-shadow: 1px 1px 3px 2px #ffffff;
            box-shadow: 1px 1px 3px 2px #ffffff;
    color: #da182e;
    cursor: pointer;
    padding-top: 1px;
    height: 30px;
    width: 80px;
  }
  .dmg_iphone {
    width: 692px;
    left: -2%;
    top: -96px;
  }
  .repair {
    margin-top: -1%;
    font-size: 38px;
    line-height: 60px;
    margin-left: 55%;
  }
  .button_pos {
    margin-left: 55%;
  }
  .button,
  .button_start,
  .game_button,
  .cancel_button,
  .button_feedback {
    height: 36px;
    width: 140px;
    padding-top: 10px;
    font-size: 13px;
  }
  .price_box {
    margin-top: 199px;
  }
  .model_select-dsn {
    padding-top: 9px;
    height: 30px;
    margin-bottom: 2px;
    font-size: 12px;
  }
  .model {
    margin: 4% 0 9% 4%;
  }
  .rus {
    margin: 4% 0 9% 1%;
  }
  .price-list {
    padding: 11px 0 0 15px;
    height: 39px;
    font-size: 14px;
  }
  .img_phone {
    width: 432px;
    top: 74px;
  }
  .text_price-server {
    height: 39px;
  }
  .tree {
    width: 400px;
    margin-left: -1%;
  }
  .random_one {
    top: 98px;
    left: 167px;
  }
  .random_two {
    top: 219px;
    left: 65px;
  }
  .random_three {
    top: 237px;
    left: 267px;
  }
  .cover_tree {
    width: 401px;
    height: 550px;
    margin-left: -1%;
  }
  .rules_text {
    width: 100%;
    height: 183px;
  }
  .arrow_up {
    height: 50px;
    width: 50px;
  }
  .move_up {
    right: 0;
    bottom: 0;
  }
  .terminator {
    width: 190px;
  }
  .text_feedback {
    overflow: auto;
    height: 165px;
    font-size: 14px;
  }
  .iphone_gif {
    width: 131px;
    height: 268px;
  }
  .iphone_gif-right {
    width: 179px;
    height: 268px;
  }
  .social_box {
    padding-top: 70px;
    margin-left: 7%;
  }
  .about {
    width: 492px;
    top: -180px;
  }
  .lng_opt-about_us {
    width: 39%;
    margin: 9% 6% 5% 0;
  }
}

@media (max-width: 767px) {
  .active_game {
    -webkit-animation-name: game_box_active_small;
            animation-name: game_box_active_small;
    -webkit-animation-duration: 1.6s;
            animation-duration: 1.6s;
  }
  .logo {
    margin: -133px 0 0 -129px;
  }
  .logo-img {
    width: 365px;
  }
  .header {
    margin-left: -3;
  }
  .open {
    top: 71px;
    left: 51%;
  }
  .open_ru {
    margin-left: -7%;
  }
  .info-up {
    font-size: 11px;
    font-weight: 700;
    margin: 2px 0 5px 0;
  }
  .info-down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 86%;
    margin-left: 5%;
    margin-top: 21px;
  }
  .active_box_menu {
    margin-top: -2px;
  }
  .box_menu {
    position: absolute;
    left: 0;
    right: 0;
  }
  .lng_opt-call {
    margin-left: 0%;
    font-size: 11px;
    font-weight: 800;
  }
  .lng_opt-inf_dwn {
    left: 1%;
    top: 71px;
  }
  .dmg_iphone {
    width: 532px;
    left: -1%;
    top: -39px;
  }
  .repair {
    margin-top: -63px;
    font-size: 32px;
    line-height: 45px;
    margin-left: 56%;
  }
  .price_box {
    position: relative;
  }
  .model_info {
    position: absolute;
    width: 20%;
    top: 10px;
    left: 66%;
  }
  .left-pos {
    margin-left: 0;
  }
  .price-list {
    width: 70%;
  }
  .text_price {
    left: 42%;
  }
  .model {
    margin: -5% 0 9% 74%;
  }
  .model_select-dsn {
    padding-top: 9px;
    height: 30px;
    margin-bottom: -6px;
  }
  .cena {
    font-size: 48px;
  }
  .img_phone {
    display: none;
  }
  #promo_start {
    margin-top: 51px;
  }
  .game {
    margin-top: 52px;
  }
  .rules {
    font-size: 48px;
  }
  .rules_text {
    overflow: auto;
    font-size: 15px;
    height: 160px;
  }
  .buttons {
    margin-left: -2%;
  }
  .button_start {
    margin: 0 auto;
  }
  .tree {
    width: 283px;
    margin-bottom: 57px;
  }
  .cover_tree {
    width: 282px;
    height: 403px;
  }
  .random_one {
    font-size: 36px;
    top: 61px;
    left: 109px;
  }
  .random_two {
    font-size: 32px;
    top: 146px;
    left: 37px;
  }
  .random_three {
    top: 158px;
    left: 180px;
    font-size: 32px;
  }
  #feedback {
    padding: 4%;
  }
  .title_feedback {
    font-size: 32px;
    margin: -0.8% 0 4% 13%;
  }
  .text_feedback {
    height: 143px;
    font-size: 12px;
    margin-top: 3px;
  }
  .terminator {
    width: 142px;
  }
  .dots_box {
    width: 9%;
  }
  .iphone_gif {
    width: 108px;
    height: 209px;
  }
  .iphone_gif-right {
    width: 147px;
    height: 209px;
    margin-left: -5%;
  }
  .social_box {
    padding-top: 23px;
    margin-left: 9%;
  }
  .soc {
    height: 40px;
    width: 40px;
  }
  .about {
    width: 377px;
    top: -140px;
  }
  .title_about {
    font-size: 36px;
  }
  .about_text {
    font-size: 12px;
  }
  .about_call {
    margin-left: 0%;
    margin-top: -48px;
  }
  .call_link {
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  .move_up {
    right: -15px;
    bottom: -15px;
  }
  .arrow_up {
    height: 35px;
    width: 35px;
  }
  .logo {
    margin: -95px 0 0 -92px;
  }
  .logo-img {
    width: 246px;
  }
  #select {
    font-size: 12px;
    margin-left: 37px;
  }
  .ss {
    margin-top: 15px;
    width: 25px;
    height: 25px;
  }
  .soc_img {
    padding: 5px 0px 0px 5px;
  }
  .open {
    top: 40px;
    left: 45%;
    font-size: 12px;
  }
  .info-down {
    width: 90%;
  }
  .lng_opt-hidemen {
    margin-left: -18%;
  }
  .lng_opt-inf_dwn {
    left: -4%;
    top: 57px;
  }
  .dmg_iphone {
    width: 467px;
    left: -13%;
    top: -31px;
  }
  .repair {
    margin-top: -24px;
    font-size: 29px;
    line-height: 40px;
    margin-left: 53%;
  }
  .button_pos {
    margin-left: 53%;
    margin-top: 75px;
  }
  .price_box {
    margin-top: 116px;
  }
  .cena {
    font-size: 42px;
  }
  .model {
    font-size: 15px;
    margin: -6% 0 9% 73%;
  }
  .price-list {
    width: 76%;
    font-size: 11px;
    height: 30px;
    padding: 9px 0 0 12px;
  }
  .model_info {
    top: -32px;
    left: 71%;
  }
  .model_select-dsn {
    padding-top: 4px;
    height: 24px;
    margin-bottom: -7px;
  }
  .text_price {
    left: 49%;
    top: -6px;
  }
  .text_price-server {
    height: 30px;
    font-size: 11px;
  }
  #promo_start {
    margin-top: 9px;
    margin-bottom: 53px;
  }
  .rules {
    font-size: 32px;
  }
  .rules_text {
    font-size: 11px;
    height: 150px;
  }
  .game_button,
  .cancel_button {
    height: 30px;
    width: 109px;
    font-size: 11px;
    margin-bottom: 12px;
  }
  .iphone_gif-right {
    width: 97px;
    height: 145px;
  }
  .soc {
    height: 25px;
    width: 25px;
    margin: 0%;
  }
  .lng_opt-two_slide,
  .lng_opt-slide {
    font-size: 11px;
  }
  .left_arrow,
  .right_arrow {
    top: 43%;
  }
  .dots_box {
    width: 11%;
    left: 48%;
  }
  .iphone_gif {
    width: 71px;
    height: 145px;
  }
  .title_feedback {
    font-size: 19px;
  }
  .terminator {
    width: 109px;
  }
  .text_feedback {
    height: 94px;
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 18px;
  }
  .about {
    width: 275px;
    top: -109px;
  }
  .title_about {
    font-size: 24px;
  }
  .lng_opt-about_us {
    margin: 3% 6% 5% 0;
  }
  .button_feedback {
    height: 30px;
    width: 105px;
    font-size: 11px;
  }
  .about_call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .call_link {
    font-size: 11px;
  }
  .popup_modal,
  .popup_modal-time {
    left: 17%;
  }
}
/*# sourceMappingURL=style.css.map */